<html>
    <head>
        <title>Attainu-Test</title>
        <link rel="icon" href="logo.png" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Attainu-Test</a>
                  </div>
                </div>
              </nav>

              <div class="alert alert-success">
                <strong>Use Postman Tool to Test Api!</strong> 
              </div>
              <div class="alert alert-warning">
                <strong>For More Refer 
                    <a href="https://github.com/Aakashdeveloper/Attainu/blob/master/Readme.md" target="_blank">ReadMe</a>
                </strong> 
              </div>
              <div class="alert alert-danger">
                <strong>For image converter as of now pass .jpg link  in query</strong> 
                <p>Sample Url: https://cdn.idsitnetwork.net/wp-content/uploads/sites/27/2019/01/flower-shop-fields-of-romance-148245.jpg
                </p>
              </div>
              <div class="alert alert-danger">
                <strong><a  target="_blank" href="https://www.aakashhanda.me">In Case of Any Issue Please Connect</a></strong> 
              </div>
        </div>
       
    </body>
</html>